<div class="subscribe-form-container hx:my-8 hx:p-6 hx:bg-gray-50 hx:dark:bg-neutral-800 hx:rounded-lg hx:text-left">
  <h3 class="hx:text-xl hx:font-semibold hx:mb-4 hx:text-slate-900 hx:dark:text-slate-100 hx:text-left">
    Подпишитесь на обновления
  </h3>
  <p class="hx:text-sm hx:mb-4 hx:text-gray-600 hx:dark:text-gray-400 hx:text-left">
    Получайте новые публикации прямо на почту
  </p>
  
  <!-- Форма подписки Dashamail -->
  <div id="dm_embedded_366787" class="hx:text-left" style="text-align: left;">
    <script src="https://261520.selcdn.ru/subscribe/embedded/generator.js" data-email-generator-site-id="366787" data-version="0.1" async="async" charset="utf-8"></script>
  </div>
</div>

